* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #331b75;
    background-image: url('./assets/images/game/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    user-select: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #b8c6fd;
}

#navs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 10px; */
}

#scoresDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

#score, #coinsDiv, #kill, #level {
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(61, 113, 224, 0.541);
    padding: 5px;
    border-radius: 3px;
}

#coinImg {
    width: 20px;
    height: 20px;
}

#coins {
    margin-left: 5px;
}

#pauseDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

#pauseDiv div{
    display: flex;
    justify-content: center;
    align-items: center;
}

#settingsImg, #infoImg {
    transition: transform .7s ease-in-out;
    width: 50px;
    height: 50px;
}

#settingsImg:hover, #infoImg:hover {
    cursor: pointer;
    transform: rotate(30deg);
}

#pause, #newGame {
    padding: 5px;
    font-size: 20px;
    color: #b8c6fd;
    border: 2px #b8c6fd solid;
    background-color: transparent;
    border-radius: 3px;
}

#pause:hover:enabled, #newGame:hover:enabled {
    cursor: pointer;
    border: 2px rgb(68, 30, 235) solid;
    color: #ffebeb;
    background-color: #361b7ca6;
}

#levelCanvas {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 40%;
    font-size: 4rem;
    animation: zoom 0.6s ease;
    color: #b8c6fd;
}

@keyframes zoom {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

#gameArea {
    position: relative;
}

#popup {
    background-color: rgba(207, 206, 206, 0.5);
    pointer-events: all;
    text-align: center;
    height: 100px;
    position: absolute;
    width: 100%;
    top: 40%;
    color: white;
}

#popupText {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#canvas {
    box-shadow: 0 0 10px 3px #bac5f3;
    border-radius: 10px;
}

#bottom-container {
    margin: 5px;
    border-radius: 5px;
    padding: 3px;
}

#nameDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

#nameLabelDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

#nameDiv input {
    margin: 5px;
    font-size: 20px;
    height: 25px;
    width: 200px;
}

#newGameDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

#settingsDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

#settingsDiv div {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center
}

#musicOnImg, #muteImg, #musicOffImg, #unmuteImg {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    cursor: pointer;
}

#highscoreDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    border-spacing: 0px;
    text-align: center;
    margin: 5px;
}

table td {
    border: 2px solid #ffffff;
    font-size: 20px;
    padding: 5px;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

table tr:first-child td:first-child {
    border-top-left-radius: 10px;
}

table tr:first-child td:last-child {
    border-top-right-radius: 10px;
}

.disabled {
    pointer-events: none;
    background-color: #a1a1a191;
    opacity: 0.5;
}

.hide {
    display: none;
}

.highlightGreen {
    color: rgb(77, 241, 77);
}

.highlightRed {
    color: rgb(255, 62, 62);
}

/* modal  */
#modal {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    overflow: auto;
}

#modalContent {
    margin: auto;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    display: block;
    margin-top: 50px;
    text-align: center;
    color: rgb(209, 208, 208);
    animation: zoom 0.6s ease;
}

@keyframes zoom {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

#modalContent div {
    display: block;
}

#leftModal div, #rightModal div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#leftModal li {
    margin-left: 20px;
}

#modalContent table {
    /* margin: 30px; */
    margin: 20px;
    max-width: 725px;
}

#modalContent table td {
    border: 2px rgb(68, 30, 235) solid;
}

#modalContent table tr {
    background-color: #361b7ca6;
}

.alienImg, .powerupsImg {
    width: 60px;
    height: 60px;
}

#close {
    position: fixed;
    top: 15px;
    right: 45px;
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
    transition: transform .7s ease-in-out;
}

#close:hover {
    transform: rotate(45deg);
    color: rgb(180, 179, 179);
    cursor: pointer;
}

/* media queries */

@media (max-width: 600px) {
    body {
        font-size: 15px;
    }
    table td {
        font-size: 15px;
    }
    #nameDiv input {
        font-size: 17px;
        height: 20px;
        width: 150px;
    }
    #pause, #newGame {
        font-size: 15px;
    }
    #settingsImg, #infoImg {
        width: 40px;
        height: 40px;
    }
    #coinImg {
        width: 17px;
        height: 17px;
    }
}

@media (max-width: 475px) {
    body {
        font-size: 14px;
    }
    table td {
        font-size: 14px;
    }
    #nameDiv input {
        font-size: 15px;
        height: 18px;
        width: 150px;
    }
    #pause, #newGame {
        font-size: 14px;
    }
    #settingsImg, #infoImg {
        width: 30px;
        height: 30px;
    }
    #coinImg {
        width: 17px;
        height: 17px;
    }
    .alienImg, .powerupsImg {
        width: 45px;
        height: 45px;
    }
}

@media (max-width: 435px) {
    #scoresDiv {
        display: block;
    }
    #pauseDiv {
        display: block;
    }
    #nameDiv {
        display: block;
    }
}

@media (max-width: 385px) {
    #settingsDiv {
        display: block;
    }
}

@media (max-width: 325px) {
    #nameLabelDiv {
        display: block;
    }
    #nameLabelDiv label {
        display: block;
    }
}